@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.header{
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Poppins', sans-serif;
    width: 10rem;
    height: 3rem;
    padding-left: 15px;
    color: #fff;
}
.logox{
    color: var(--orange);
}
.headerMenu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}
.headerMenu>li {
    cursor: pointer;
}
.headerMenu>li:hover{
    color: var(--orange);
    cursor: pointer;
}